.navbar_header {
    background: #2ecc71; /* verde elegante */
    font-family: calibri;
    padding: 15px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navdiv_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo_header a {
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.logo_header {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.logo-img_header {
    height: 40px;
    width: auto;
}
.perfil-img_header{
    border-radius: 50%;
    height: 40px;
    width: auto;
}
.liNav_header {
    list-style: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    margin-right: 150px;
}

.buttonNav_header {
    background-color: #388e3c;
    margin-left: 10px;
    border-radius: 8px;
    padding: 10px 25px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: 0.3s ease;
    text-decoration: none;
}

.buttonNav_header:hover {
    background-color: #43a047;
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: inherit;
}