h1 {
    text-align: center;
    margin: 100px;
    font-family:'Courier New', Courier, monospace;
    font-size: 48px;
}
.Unirse,
.Reservar {
    display: inline-block;
    text-align: center;
    margin: 20px;
    padding: 25px 40px;   
    border-radius: 50px;
    border: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-width: 300px; 
    min-height: 100px;
    font-size: 24px;      
    color: white;
    background-color: #45a049;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    gap: 40px;;
    align-items: center;
    margin: 0;
}
.parrafo1 {
    text-align: center;
    margin: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px; 
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.button-container1 button:hover {
    background-color: #52b155;
}
.button-container2 button:hover {
    background-color: #52b155;
}