.Titulo {
    text-align: center;
    margin: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Tabla-Principal {
    width: 70%;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: #7dd0c5;
    padding: 50px;
    border: #000000 15px;
    margin: auto;
}

.Table-Header{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.Table-Body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;

}

.Tabla-Principal button {
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 14, 13, 0.247);
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}
.Tabla-Principal button:hover {
    background-color: lightgrey;
}