<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/css/header2.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar_header">
		<div class="navdiv_header">
			<div class="logo_header">
                <img src="../static/img/Logo.png.png" alt="Logo ReservaTuCancha" class="logo-img_header">
            </div>
			<div class="logo_header"> <a href="#">ReservaTuCancha</a> </div>
			<ul class="navbutton_header">
				<li> <a href="home">Home</a></li>
				<li> <a href="registro">Register</a></li>
				<li> <a href="login">Login</a></li>
				<li> <a href="perfil">Profile</a></li>
				<li> <a href="reservar">Reservar</a></li>
				<li> <a href="unirse">Unirse</a></li>
				<li> <a href="logout">Log Out</a></li>
			</ul>
		</div>
	</nav>
</body>
</body>
</html>