<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/css/header2.css">
    <title>Document</title>
</head>
<body>
<nav class="navbar_header">
	<div class="navdiv_header">
		<div class="logo_header">
			<img src="{{ url_for('static', filename='img/Logo.png.png') }}"
			     alt="Logo ReservaTuCancha"
			     class="logo-img_header">
		</div>

		<div class="logo_header">
			<a href="{{ url_for('home') }}">ReservaTuCancha</a>
		</div>

		<ul class="navbutton_header">
			<li><a href="{{ url_for('home') }}">Home</a></li>
			<li><a href="{{ url_for('formRegistro') }}">Register</a></li>
			<li><a href="{{ url_for('formLogin') }}">Login</a></li>

			{% if session.get('Email') %}
				{% if session.get('Rol') == False %}
					<li><a href="{{ url_for('formPerfilAdmin') }}">Profile</a></li>
					<li><a href="{{ url_for('formReservaAdmin') }}">Reserva Admin</a></li>
				{% else %}
					<li><a href="{{ url_for('formPerfil') }}">Profile</a></li>
				{% endif %}
			{% else %}
				<li><a href="{{ url_for('formLogin') }}">Login</a></li>
			{% endif %}
			<li><a href="{{ url_for('reserva') }}">Reservar</a></li>
			<li><a href="{{ url_for('unirse') }}">Unirse</a></li>
		</ul>
	</div>
</nav>

</body>
</body>
</html>