<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/misreservas.css">
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    {% block header %}   
      {% include "header.html" %}
    {% endblock %}
         <main class="wrap">
    <h1>RESERVAS</h1>

    <section class="grid">
      <!-- Columna Vigentes -->
      <div class="col">
        <h2>Vigentes</h2>
        {% for reserva in canchasreservadas %}
        <div class="card">
          <div class="row"><b>Cancha:</b> {{ reserva.Nombre }}</div>
          <div class="row"><b>Fecha:</b> {{ reserva.Fecha }}</div>
          <div class="row"><b>Lugar:</b> {{ reserva.Ubicacion}}</div>
          <div class="row"><b>Hora:</b> {{ reserva.Hora}}</div>
        </div>
        {% endfor %}
      </div>
      
    </section>
  </main>
    {% block footer %}   
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>