<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Reservas</title>
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/misreservas.css">
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    {% block header %}   
      {% include "header.html" %}
    {% endblock %}
         <main class="wrap">
    <h1>RESERVAS</h1>

    <section class="grid">
      <!-- Columna Vigentes -->
      <div class="col">
        <h2>Vigentes</h2>

        <div class="card">
          <div class="row"><b>Fecha:</b> 05/10/2025</div>
          <div class="row"><b>Lugar:</b> Cancha 1</div>
          <div class="row"><b>Hora:</b> 18:00</div>
          <div class="row"><b>Estado:</b> <span class="badge ok">Habilitado</span></div>
        </div>

        <div class="card">
          <div class="row"><b>Fecha:</b> 10/10/2025</div>
          <div class="row"><b>Lugar:</b> Cancha 2</div>
          <div class="row"><b>Hora:</b> 20:00</div>
          <div class="row"><b>Estado:</b> <span class="badge warn">Cancelado Por Admin</span></div>
        </div>
      </div>

      <!-- Columna Vencidas -->
      <div class="col">
        <h2>Vencidas</h2>

        <div class="card">
          <div class="row"><b>Fecha:</b> 15/09/2025</div>
          <div class="row"><b>Lugar:</b> Cancha 3</div>
          <div class="row"><b>Hora:</b> 19:00</div>
          <div class="row"><b>Estado:</b> <span class="badge neu">Finalizada</span></div>
        </div>

        <div class="card">
          <div class="row"><b>Fecha:</b> 02/09/2025</div>
          <div class="row"><b>Lugar:</b> Cancha 4</div>
          <div class="row"><b>Hora:</b> 21:00</div>
          <div class="row"><b>Estado:</b> <span class="badge neu">Finalizada</span></div>
        </div>
      </div>
    </section>
  </main>
    {% block footer %}   
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>