<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <title>Perfil</title>
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar_header">
            <div class="navdiv_header">
                <div class="logo_header">
                    <img src="../static/img/Logo.png.png" alt="Logo ReservaTuCancha" class="logo-img_header">
                </div>
                <div class="logo_header"> <a href="/home">ReservaTuCancha</a> </div>
			<ul class="navbutton_header">
				<li> <a href="/home">Home</a></li>
                <li> <a href="/registro">Register</a></li>
                <li> <a href="/login">Login</a></li>
                <li> <a href="/perfil">Profile</a></li>
                <li> <a href="/reservar">Reservar</a></li>
                <li> <a href="/unirse">Unirse</a></li>
			</ul>
            </div>
        </nav>
    </header>

    <div class="profile-container">

        <aside class="profile-sidebar">
            <div class="avatar-wrap">
                <img id="avatarPreview" src="../static/img/Logo.png.png" alt="Foto de perfil">
                <label for="avatarInput" class="upload-label">Subir nueva foto</label>
            </div>

            <div class="card">
                <h3>Stats <button class="btn danger" id="btnEditar">Editar</button></h3>
                <ul>
                    <li id="partidosJugados"><strong>Partidos Jugados:</strong> 0</li>
                    <li id="goles"><strong>Goles:</strong> 0</li>
                    <li id="Palos"><strong>Palos:</strong> 0</li>
                    <li id="partidosGanados"><strong>Partidos Ganados:</strong> 0</li>
                </ul>
            </div>
        </aside>

        <section class="profile-form">
            <h2>Perfil</h2>
            <form action="datosPerfilAdmin" method="post">
                <div class="grid">
                    <div>
                        <label>Nombre</label>
                        <input type="text" name="Nombre"  id="nombre" placeholder="Nombre">
                    </div>
                    <div>
                        <label>Apellido</label>
                        <input type="text" name="Apellido" id="apellido" placeholder="Apellido">
                    </div>
                </div>

                <div class="grid">
                    <div>
                        <label>Teléfono</label>
                        <input type="text" name="Telefono"  id="telefono" placeholder="Teléfono">
                    </div>
                    <div>
                        <label>Edad</label>
                        <input type="text" name="Edad" id="edad" placeholder="Edad">
                    </div>
                </div>

                <div class="grid">
                    <div>
                        <label>Email</label>
                        <input type="email" name="Email" id="email" placeholder="Email">
                    </div>
                    <div>
                        <label>Ciudad</label>
                        <input type="text" name="Ciudad" id="ciudad" placeholder="Ciudad">
                    </div>
                </div>

                <div class="buttons">
                    <button type="submit" class="btn success">Guardar</button>
                    <button type="reset" class="btn danger">Limpiar</button>
                    <a href="misreservas.html" class="btn reservas">Mis publicaciones</a>
                </div>
            </form>
        </section>
    </div>

     <footer>
        <nav class="navbar_footer">
		<div class="navdiv_footer">
			<ul class="navbutton_footer">
                <li class="liNav_footer"><a href="https://discord.gg/6wVzJSuN3R"><img src="../static/img/discord-logo-discord-logo-transparent-discord-icon-transparent-free-free-png.webp" alt="discord" height="50px"></a></li>
				<li class="liNav_footer"><a class="buttonNav_footer" href="#">About</a></li>
				<li class="liNav_footer"><a class="buttonNav_footer" href="#">Contact</a></li>
			</ul>
		</div>
	</nav>
    </footer>
    <script src="../static/js/perfil.js"></script>
</body>
</html>