<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Publicaciones</title>
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/publicaciones.css">
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    {% block header %}   
        {% include "header.html" %}
    {% endblock %}
         <main class="wrap">
    <h1>Mis Publicaciones</h1>

    <section class="grid">
      <div class="col">
        <h2>Vigentes</h2>
        {% for canchas in mispublicaciones %}
        <div class="card">
          <div class="row"><b>Nombre:</b> {{ canchas.Nombre }}</div>
          <div class="row"><b>Ubicacion:</b> {{ canchas.Ubicacion }}</div>
          <div class="row"><b>Fechas Publicadas:</b> {{ canchas.FechaI }} -- {{ canchas.FechaF }}</div>
          <div class="row"><b>Rango Horario:</b> {{ canchas.HoraI }} a {{ canchas.HoraF }}</div>
          <div class="row"><b>Precio:</b> {{ canchas.Precio }}</div>
        </div>
        {% endfor %}
    </section>
  </main>
    {% block footer %}   
        {% include "footer.html" %}
    {% endblock %}
</body>
</html>