<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registro.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <title>Registro</title>
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar_header">
		<div class="navdiv_header">
			<div class="logo_header">
                <img src="../static/img/Logo.png.png" alt="Logo ReservaTuCancha" class="logo-img_header">
            </div>
			<div class="logo_header"> <a href="/home">ReservaTuCancha</a> </div>
			<ul class="navbutton_header">
				<li> <a href="/home">Home</a></li>
				<li> <a href="/registro">Register</a></li>
				<li> <a href="/login">Login</a></li>
				<li> <a href="/perfil">Profile</a></li>
				<li> <a href="/reservar">Reservar</a></li>
				<li> <a href="/unirse">Unirse</a></li>
			</ul>
		</div>
	</nav>

    <h1 class="Titulo"> ReservaTuCancha </h1>
    <div class="main-login">
    <div class="login-container">
        <h2> Registrarse </h2>
        <form id="registroForm" method="post" action="registro">
            <input type="text" name="email" id="email" placeholder="Email">
			<span id="errorMail" style="color: red;"></span><br><br>
            <input type="password" name="Contraseña" id="password" placeholder="Contraseña">
			<span id="errorPassword" style="color: red;"></span><br><br>
            <input type="password" name="Contraseña" id="confirmPassword" placeholder="Repetir Contraseña">
			<span id="errorComparativo" style="color: red;"></span><br><br>
			<select name="categoria" id="categoria">
				<option disabled selected>Seleccionar ...</option>
				<option value="Usuario">Usuario</option>
				<option value="Admin">Admin</option>
			</select>
            <button type="submit">Registrarse</button>
        </form>
    </div>
    <div/>
    <footer>
        <nav class="navbar_footer">
            <div class="navdiv_footer">
                <ul class="navbutton_footer">
                    <li class="liNav_footer"><a href="https://discord.gg/6wVzJSuN3R"><img src="../static/img/discord-logo-discord-logo-transparent-discord-icon-transparent-free-free-png.webp" alt="discord" height="50px"></a></li>
                    <li class="liNav_footer"><a class="buttonNav_footer" href="#">About</a></li>
                    <li class="liNav_footer"><a class="buttonNav_footer" href="#">Contact</a></li>
                </ul>
            </div>
	    </nav>
    </footer>
	<script src="../static/js/registro.js"></script>
</body>
</html>



