<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaTuCancha</title>
    <link rel="stylesheet" href="../static/css/reservar.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar_header">
            <div class="navdiv_header">
                <div class="logo_header">
                    <img src="../static/img/Logo.png.png" alt="Logo ReservaTuCancha" class="logo-img_header">
                </div>
                <div class="logo_header"><a href="/home">ReservaTuCancha</a></div>
                <ul class="navbutton_header">
                    <li> <a href="/home">Home</a></li>
                    <li> <a href="/registro">Register</a></li>
                    <li> <a href="/login">Login</a></li>
                    <li> <a href="/perfil">Profile</a></li>
                    <li> <a href="/reservar">Reservar</a></li>
                    <li> <a href="/unirse">Unirse</a></li>
                    
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <h1 class="Titulo">ReservaTuCancha</h1>
        <div>
            <table class="Tabla-Principal">
                <thead class="Table-Header">
                    <tr>
                        <th>Canchas</th>
                        <th>Ubicaciones</th>
                        <th>Jugadores</th>
                        <th>Fecha y Horarios</th>
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody class="Table-Body">
                    <!-- Nordelta -->
                    <tr>
                        <td>Cancha Nordelta</td>
                        <td>Nordelta</td>
                        <td>22</td>
                        <td>
                            <input type="date" id="fechaNordelta"><br>
                            <select id="horaNordelta">
                                <option disabled selected>Seleccionar...</option>
                                <option value="9:00">9:00 AM</option>
                                <option value="10:30">10:30 AM</option>
                                <option value="12:00">12:00 PM</option>
                                <option value="13:30">1:30 PM</option>
                                <option value="15:00">3:00 PM</option>
                                <option value="16:30">4:30 PM</option>
                            </select>
                            <br>
                            <span id="errorNordelta" class="error-text"></span>
                        </td>
                        <td><label id="estadoNordelta">Reservada</label></td>
                        <td><button id="btnNordelta" disabled class="btn-reservado">Reservado</button></td>
                    </tr>

                    <!-- Beccar -->
                    <form action="datosReservar" method="post">
                    <tr>
                        <td>Cancha Beccar</td>
                        <td>Beccar</td>
                        <td>10</td>
                        <td>
                            
                                <input name="Fecha" type="date" id="fechaBeccar"><br>
                                <select name="Hora" id="horaBeccar">
                                    <option disabled selected>Seleccionar...</option>
                                    <option value="9:00">9:00 AM</option>
                                    <option value="10:30">10:30 AM</option>
                                    <option value="12:00">12:00 PM</option>
                                    <option value="13:30">1:30 PM</option>
                                    <option value="15:00">3:00 PM</option>
                                    <option value="16:30">4:30 PM</option>
                                </select>
                                <br>
                                <span id="errorBeccar" class="error-text"></span>
                           
                        </td>
                        <td><label id="estadoBeccar">Habilitada</label></td>
                        <td><button type="submit" id="btnBeccar" class="btn btn-reservar">Reservar</button></td>
                        
                    </tr>
                    </form> 

                    <!-- Benavidez -->
                    <tr>
                        <td>Cancha Benavidez</td>
                        <td>Benavidez</td>
                        <td>16</td>
                        <td>
                            <input type="date" id="fechaBenavidez"><br>
                            <select id="horaBenavidez">
                                <option disabled selected>Seleccionar...</option>
                                <option value="9:00">9:00 AM</option>
                                <option value="10:30">10:30 AM</option>
                                <option value="12:00">12:00 PM</option>
                                <option value="13:30">1:30 PM</option>
                                <option value="15:00">3:00 PM</option>
                                <option value="16:30">4:30 PM</option>
                            </select>
                            <br>
                            <span id="errorBenavidez" class="error-text"></span>
                        </td>
                        <td><label id="estadoBenavidez">Inhabilitada</label></td>
                        <td><button id="btnBenavidez" disabled class="btn-reservado">Fuera de Servicio</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <nav class="navbar_footer">
		<div class="navdiv_footer">
			<ul class="navbutton_footer">
                <li class="liNav_footer"><a href="https://discord.gg/6wVzJSuN3R"><img src="../static/img/discord-logo-discord-logo-transparent-discord-icon-transparent-free-free-png.webp" alt="discord" height="50px"></a></li>
				<li class="liNav_footer"><a class="buttonNav_footer" href="#">About</a></li>
				<li class="liNav_footer"><a class="buttonNav_footer" href="#">Contact</a></li>
			</ul>
		</div>
	</nav>
    </footer>

    <script src="../static/js/reservar.js"></script>
</body>
</html>