<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaTuCancha</title>
    <link rel="stylesheet" href="../static/css/reservarAdmin.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% block header %}   
        {% include "header.html" %}
    {% endblock %}


    <main>
        <h1 class="Titulo">PublicaTuCancha</h1>
        <div>
            <table class="Tabla-Principal">
                <thead class="Table-Header">
                    <tr>
                        <th>Canchas</th>
                        <th>Ubicaciones</th>
                        <th>Jugadores</th>
                        <th>Fecha y Horarios</th>                    
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody class="Table-Body" id="tableCanchas">
                    {% for cancha in canchas %}
                    
                    <tr id="fila1">
                    </tr>
                    
                    {% endfor %}
                    <tr>
                        <td>
                            <input type="button" id="btnAgregar" value="Agregar Cancha" class="btn-agregar">

                            <form method="post" action="/confirmarPublicaciones">
                            <button type="submit" class="btn-confirmar">
                                Confirmar publicaciones
                            </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </main>

    {% block footer %}   
        {% include "footer.html" %}
    {% endblock %}
    <script src="../static/js/reservarAdmin.js"></script>
</body>
</html>
