<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaTuCancha</title>
    <link rel="stylesheet" href="../static/css/reservar.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    {% block header %}   
        {% include "header.html" %}
    {% endblock %}

    <main>
        <h1 class="Titulo">ReservaTuCancha</h1>
        <div>
            <table class="Tabla-Principal">
                <thead class="Table-Header">
                    <tr>
                        <th>Canchas</th>
                        <th>Ubicaciones</th>
                        <th>Jugadores</th>
                        <th>Fecha y Horarios</th>
                        <th>Estado</th>
                        <th>Privacidad</th>
                        <th>Precio</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                
                <tbody class="Table-Body">
                    {% for cancha in canchas %}
                    <tr>
                        <form method="POST" action="/reservar">
                            <td class="NombreCancha">
                                {{ cancha.NombreCancha }}
                                <input type="hidden" name="nombre_cancha" value="{{ cancha.NombreCancha }}">
                            </td>
                
                            <td class="Ubicacion">
                                {{ cancha.Ubicacion }}
                                <input type="hidden" name="ubicacion_cancha" value="{{ cancha.Ubicacion }}">
                            </td>
                
                            <td class="CantJugadores">
                                {{ cancha.CantJugadores}}
                                <input type="hidden" name="jugadores_cancha" value="{{ cancha.CantJugadores }}">
                            </td>
                
                            <td class="Fecha">
                                <input type="date" 
                                    class="fechaInput" 
                                    name="fecha_reservada"
                                    min="{{ cancha.Fecha_Inicio }}"
                                    max="{{ cancha.Fecha_Fin }}"><br>
                                <select name="hora" class="horaSelect" required>
                                    <option disabled selected value="">Seleccionar...</option>
                                    {% for h in cancha.horarios_validos %}
                                        <option value="{{ h }}">{{ h }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <span class="error-text"></span>
                            </td>
                
                            <td class="Estado">
                                <label class="EstadoLabel">{{ cancha.Estado }}</label>
                            </td>
    
                            <td class="Privacidad">
                                <select name="privacidad" class="tipo-reserva">
                                    <option disabled selected>Seleccionar</option>
                                    <option value="Publica">Publica</option>
                                    <option value="Privada">Privada</option>
                                </select>
                                <span class="clave" style="display:none;">
                                    <input type="password" name="clave_privada" class="inputClave" placeholder="Contraseña">
                                    <button type="button" class="btnConfirmarClave" onclick="confirmarReserva(this)">Confirmar</button>
                                </span>
                            </td>
                
                            <td class="Precio">
                                <label class="PrecioCancha">{{ cancha.Precio }}</label>
                                <input type="hidden" name="precio" value="{{ cancha.Precio }}">
                            </td>
                
                            <td>
                                <button type="submit" class="btn-reservar
                                {% if cancha.Estado == 'inhabilitada' %}
                                    btn-agregar
                                {% elif cancha.Estado == 'habilitada' %}
                                    btn-reservar
                                {% elif cancha.Estado == 'reservada' %}
                                    btn-reservado
                                {% endif %}">
                                {% if cancha.Estado == 'inhabilitada' %}
                                    Fuera de Servicio
                                {% elif cancha.Estado == 'habilitada' %}
                                    Reservar
                                {% elif cancha.Estado == 'reservada' %}
                                    Reservada
                                {% endif %}
                                </button>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}    
                </tbody>
                
            </table>
        </div>
    </main>

    {% block footer %}   
        {% include "footer.html" %}
    {% endblock %}

    <script src="../static/js/reservar.js"></script>
</body>
</html>