<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReservaTuCancha</title>
    <link rel="stylesheet" href="../static/css/reservarAdmin.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar_header">
		<div class="navdiv_header">
			<div class="logo_header">
                <img src="../static/img/Logo.png.png" alt="Logo ReservaTuCancha" class="logo-img_header">
            </div>
			<div class="logo_header"> <a href="/home">ReservaTuCancha</a> </div>
			<ul class="navbutton_header">
				<li> <a href="/home">Home</a></li>
                <li> <a href="/registro">Register</a></li>
                <li> <a href="/login">Login</a></li>
                <li> <a href="/perfil">Profile</a></li>
                <li> <a href="/reservar">Reservar</a></li>
                <li> <a href="/unirse">Unirse</a></li>
			</ul>
		</div>
	</nav>


    <main>
        <h1 class="Titulo">PublicaTuCancha</h1>
        <div>
            <table class="Tabla-Principal">
                <thead class="Table-Header">
                    <tr>
                        <th>Canchas</th>
                        <th>Ubicaciones</th>
                        <th>Jugadores</th>
                        <th>Fecha y Horarios</th>                    
                        <th>Estado</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody class="Table-Body" id="tableCanchas">
                    <form method="post" action="datosReservaAdmin">
                    <tr id="fila1">
                        <td>
                         
                            <input name="NombreCancha1" type="text" id="nombre1" placeholder="Name">
                        </td>
                        <td><input name="UbicacionCancha1" type="text" id="ubicacion1" placeholder="Location"></td>
                        <td><input name="CantidadJug1" type="number" id="cantJug1" placeholder="N°"></td>
                        <td>
                            <input type="date" name="Fecha"><br>
                       
                            <label for="start1">Desde:</label>
                            <input type="time" id="start1" name="start" required>

                            <label for="end1">Hasta:</label>
                            <input type="time" id="end1" name="end" required>
                            
                        </td>
                        <td class="estado">
                            <label><input type="radio" name="Estado1" value="r"> Reservada</label><br>
                            <label><input type="radio" name="Estado1" value="h"> Habilitada</label><br>
                            <label><input type="radio" name="Estado1" value="i"> Inhabilitada</label>
                        </td>
                        <td>
                            <button type="submit" id="btnPublicar1" class="btnPublicar1">Publicar</button> 
                            <p class="errorCampos" id="errorCampos1"></p>
                            
                        </td>
                    </tr>
                    </form>
                    <tr>
                        <td>
                            <form>
                                <input type="button" id="btnAgregar" value="Agregar Cancha" class="btn-agregar">
                                
                            </form>
                    
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer>
        <nav class="navbar_footer">
            <div class="navdiv_footer">
                <ul class="navbutton_footer">
                    <li class="liNav_footer"><a href="https://discord.gg/6wVzJSuN3R"><img src="../static/img/discord-logo-discord-logo-transparent-discord-icon-transparent-free-free-png.webp" alt="discord" height="40px"></a></li>
                    <li class="liNav_footer"><a class="buttonNav_footer" href="#">About</a></li>
                    <li class="liNav_footer"><a class="buttonNav_footer" href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </footer>
    <script src="../static/js/reservarAdmin.js"></script>
</body>
</html>
