<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/unirse.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <title>Unirse</title>
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    {% block header %}   
        {% include "header.html" %}
    {% endblock %}
	
    <h1 class="Titulo"> ReservaTuCancha </h1>
    <div>
        <table class="Tabla-Principal">
            <thead class="Table-Header">
                <tr>
                    <th> Canchas: </th>
                    <th> Ubicaciones </th>
                    <th> Jugadores </th>
                    <th> Fecha/Hora</th>
                    <th> Estado </th>
                    <th> Unirse </th>
                    <th> Ver Jugadores </th>
                </tr>
            </thead>
            <tbody class="Table-Body">
                {% for canchas in canchasReservadas %}
                <tr>
                    <form method="post" action="/unirse">
                    <td> {{canchas.Nombre_Cancha}} </td>
                    <input  type="hidden" name="NombreCancha" value='{{ canchas.Nombre_Cancha}}'>
                    <td> {{canchas.Ubicacion}} </td>
                    <td class="cantJugadores"> {{ canchas.JugadoresUnidos }}/{{canchas.Cant_Jugadores}} </td>
                    <td> 
                        {{canchas.Fecha_Reservada}} 
                        ---
                        {{canchas.Hora}}
                        <input type="hidden" name="fecha_reservada" value="{{ canchas.Fecha_Reservada }}">
                        <input type="hidden" name="hora" value="{{ canchas.Hora }}">
                        <input type="hidden" name="id_reserva" value="{{ canchas.id_cancha_reservada }}">
                    </td>
                    <td class="Estado"> {{canchas.Privacidad}} </td>
                    <form method="post" action="/unirse">
                        <td>
                            {% if canchas.id_cancha_reservada in session.get('reservas_unidas', []) %}
                                <button type="button" class="btn-unirse" disabled style="background-color: grey;">
                                    Ya estás unido
                                </button>
                            {% else %}
                                <button type="submit" class="btn-unirse" data-pass="{{ canchas.Contraseña }}" >Unirse</button>
                            {% endif %}
                        </td>
                    <td> <button type="submit" class="btn-verjugadores"> Ver Jugadores </button></td>
                    </form>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            
    </div>
    {% block footer %}   
        {% include "footer.html" %}
    {% endblock %}
    <script src="../static/js/unirse.js"></script>
</body>
</html>