<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/unirse.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <title>Unirse</title>
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    {% block header %}   
        {% include "header.html" %}
    {% endblock %}
	
    <h1 class="Titulo"> ReservaTuCancha </h1>
    <div>
        <table class="Tabla-Principal">
            <thead class="Table-Header">
                <tr>
                    <th> Canchas: </th>
                    <th> Ubicaciones </th>
                    <th> Jugadores </th>
                    <th> Fecha/Hora</th>
                    <th> Estado </th>
                    <th> Unirse </th>
                </tr>
            </thead>
            <tbody class="Table-Body">
                {% for canchas in canchasReservadas %}
                <tr>
                    <td> {{canchas.Nombre_Cancha}} </td>
                    <td> {{canchas.Ubicacion}} </td>
                    <td class="cantJugadores"> 0/{{canchas.Cant_Jugadores}} </td>
                    <td> 
                        {{canchas.Fecha_Reservada}} 
                        ---
                        {{canchas.Hora}}
                    </td>
                    <td class="Estado"> {{canchas.Privacidad}} </td>
                    <td> <button type="submit" class="btn-unirse">Unirse</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
            
    </div>
    {% block footer %}   
        {% include "footer.html" %}
    {% endblock %}
    <script src="../static/js/unirse.js"></script>
</body>
</html>