<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <link rel="stylesheet" href="../static/css/header2.css">
    <title>Login</title>
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar_header">
            <div class="navdiv_header">
                <div class="logo_header">
                    <img src="../static/img/Logo.png.png" alt="Logo ReservaTuCancha" class="logo-img_header">
                </div>
                <div class="logo_header"> <a href="Pantalla_Inicial.html">ReservaTuCancha</a> </div>
                <ul class="sidebar">
                <li onclick=Hidesidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
			<li> <a href="Pantalla_Inicial.html">Home</a></li>
			<li> <a href="registro.html">Register</a></li>
			<li> <a href="login.html">Login</a></li>
			<li> <a href="perfil.html">Profile</a></li>
			<li> <a href="reservar.html">Reservar</a></li>
			<li> <a href="unirse.html">Unirse</a></li>

			</ul>

			<ul class="navbutton_header">
				<li> <a href="Pantalla_Inicial.html">Home</a></li>
				<li> <a href="registro.html">Register</a></li>
				<li> <a href="login.html">Login</a></li>
				<li> <a href="perfil.html">Profile</a></li>
				<li> <a href="reservar.html">Reservar</a></li>
				<li> <a href="unirse.html">Unirse</a></li>
				<li onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
			</ul>
            </div>
        </nav>
        <script>
            function showSidebar(){
                const sidebar = document.querySelector('.sidebar')
                sidebar.style.display = 'flex'
            }
        </script>
    
        <script>
            function Hidesidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
            }
        </script>
    </header>
    <h1 class="Titulo"> ReservaTuCancha </h1>
    <div class="main-login">
    <div class="login-container">
        <h2> Iniciar Sesion </h2>
        <form id="form" method="post" action="recibir_datos">
            <input type="text" name="Login" id="mail" placeholder="Email">
            <span id="errorMail" style="color: red;"></span><br><br>
            <input type="password" name="Contraseña" id="pass" placeholder="Contraseña">
            <span id="errorPass" style="color: red;"></span><br><br>
            <button type="submit" class="Ingresar"> Ingresar  </button>
        </form>
    </div>
    </div>
    <footer>
        <nav class="navbar_footer">
            <div class="navdiv_footer">
                <ul class="navbutton_footer">
                    <li class="liNav_footer"><a href="https://discord.gg/6wVzJSuN3R"><img src="../static/img/discord-logo-discord-logo-transparent-discord-icon-transparent-free-free-png.webp" alt="discord" height="50px"></a></li>
                    <li class="liNav_footer"><a class="buttonNav_footer" href="#">About</a></li>
                    <li class="liNav_footer"><a class="buttonNav_footer" href="#">Contact</a></li>
                </ul>
            </div>
	    </nav>
    </footer>
    <script src="../static/js/login.js"></script>
</body>
</html>