<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/header2.css">
    <link rel="stylesheet" href="../static/css/perfil.css">
    <link rel="stylesheet" href="../static/css/footer2.css">
    <title>Perfil</title>
    <link rel="icon" href="../static/img/Logo.png.png" type="image/x-icon">
</head>
<body>
    <header>
        <nav class="navbar_header">
            <div class="navdiv_header">
                <div class="logo_header">
                    <img src="../static/img/Logo.png.png" alt="Logo ReservaTuCancha" class="logo-img_header">
                </div>
                <div class="logo_header"> <a href="Pantalla_Inicial.html">ReservaTuCancha</a> </div>
                <ul class="sidebar">
                <li onclick=Hidesidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></a></li>
			<li> <a href="Pantalla_Inicial.html">Home</a></li>
			<li> <a href="registro.html">Register</a></li>
			<li> <a href="login.html">Login</a></li>
			<li> <a href="perfil.html">Profile</a></li>
			<li> <a href="reservar.html">Reservar</a></li>
			<li> <a href="unirse.html">Unirse</a></li>

			</ul>

			<ul class="navbutton_header">
				<li> <a href="Pantalla_Inicial.html">Home</a></li>
				<li> <a href="registro.html">Register</a></li>
				<li> <a href="login.html">Login</a></li>
				<li> <a href="perfil.html">Profile</a></li>
				<li> <a href="reservar.html">Reservar</a></li>
				<li> <a href="unirse.html">Unirse</a></li>
				<li onclick=showSidebar()><a href="#"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></a></li>
			</ul>
            </div>
        </nav>
        <script>
            function showSidebar(){
                const sidebar = document.querySelector('.sidebar')
                sidebar.style.display = 'flex'
            }
        </script>
    
        <script>
            function Hidesidebar(){
            const sidebar = document.querySelector('.sidebar')
            sidebar.style.display = 'none'
            }
        </script>
    </header>

    <div class="profile-container">

        <aside class="profile-sidebar">
            <div class="avatar-wrap">
                <img id="avatarPreview" src=../static/img/Logo.png.png" alt="Foto de perfil">
                <label for="avatarInput" class="upload-label">Subir nueva foto</label>
            </div>

            <div class="card">
                <h3>Stats <button class="btn danger" id="btnEditar">Editar</button></h3>
                <ul>
                    <li id="partidosJugados"><strong>Partidos Jugados:</strong> 0</li>
                    <li id="goles"><strong>Goles:</strong> 0</li>
                    <li id="Palos"><strong>Palos:</strong> 0</li>
                    <li id="partidosGanados"><strong>Partidos Ganados:</strong> 0</li>
                </ul>
            </div>
        </aside>

        <section class="profile-form">
            <h2>Perfil</h2>
            <form action="recibir_datos" method="post">
                <div class="grid">
                    <div>
                        <label>Nombre</label>
                        <input type="text" id="nombre" placeholder="Nombre">
                    </div>
                    <div>
                        <label>Apellido</label>
                        <input type="text" id="apellido" placeholder="Apellido">
                    </div>
                </div>

                <div class="grid">
                    <div>
                        <label>Teléfono</label>
                        <input type="text" id="telefono" placeholder="Teléfono">
                    </div>
                    <div>
                        <label>Edad</label>
                        <input type="text" id="edad" placeholder="Edad">
                    </div>
                </div>

                <div class="grid">
                    <div>
                        <label>Email</label>
                        <input type="email" id="email" placeholder="Email">
                    </div>
                    <div>
                        <label>Ciudad</label>
                        <input type="text" id="ciudad" placeholder="Ciudad">
                    </div>
                </div>

                <div class="buttons">
                    <button type="submit" class="btn success">Guardar</button>
                    <button type="reset" class="btn danger">Limpiar</button>
                    <a href="misreservas.html" class="btn reservas">Mis publicaciones</a>
                </div>
            </form>
        </section>
    </div>
    <script src="../static/js/perfil.js"></script>
</body>
</html>